[submodule "application-operator"]
	path = application-operator
	url = https://github.com/aloysZY/application-operator.git
[submodule "client-go-examples"]
	path = client-go-examples
	url = https://github.com/aloysZY/client-go-examples.git
[submodule "aloys-application-operator"]
	path = aloys-application-operator
	url = https://github.com/aloysZY/aloys-application-operator.git
[submodule "aloys-application-operator-webhook"]
	path = aloys-application-operator-webhook
	url = https://github.com/aloysZY/aloys-application-operator-webhook.git
[submodule "aloys-webhook-example"]
	path = aloys-webhook-example
	url = https://github.com/aloysZY/aloys-webhook-example.git
